<footer class="py-16">

  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="flex flex-col lg:flex-row lg:justify-between">

      <div class="space-y-7 mb-10 lg:mb-0">
        <div class="flex justify-center lg:justify-start">
          <!--          <img src="assets/images/footer-logo.png" alt="Image">-->
          <strong>OSINT</strong>.DIRECTORY
        </div>

        <p class="font-light text-gray-400 text-md md:text-lg text-center lg:text-left">Follow us</p>

        <div class="flex items-center justify-center lg:justify-start space-x-5">
          <a href="https://twitter.com/osintdir" target="_blank"
             class="px-3 py-3">
            <strong>TW</strong>
          </a>

          <a href="https://instagram.com/osintdir" target="_blank"
             class="px-3 py-3">
            <strong>IG</strong>
          </a>
        </div>
      </div>

      <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
        <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Noice directories</h4>

        <a href="https://darkweb.directory" target="_blank"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Darkweb.directory</a>

        <a href="#"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">
          Add yours</a>
      </div>

      <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
        <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Company</h4>

        <a href="#"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">About
          Us</a>

        <a href="#"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Contact</a>
      </div>

      <div class="text-center lg:text-left space-y-7 mb-10 lg:mb-0">
        <h4 class="font-semibold text-gray-900 text-lg md:text-2xl">Legal</h4>

        <a href="#"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">FAQ</a>

        <a href="#"
           class="block text-sm md:text-lg hover:text-gray-800 transition ease-in-out duration-300">Terms
          & Conditions</a>
      </div>

    </div>
  </div>

</footer>
