<div class="bg-gray-800 flex flex-col gap-4 p-8 md:p-16">
  <app-site-category>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full p-4">
      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>
    </div>
  </app-site-category>
  <app-site-category>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full p-4">
      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>
    </div>
  </app-site-category>
  <app-site-category>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full p-4">
      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>

      <div class="relative mx-auto w-full">
        <app-site-card></app-site-card>
      </div>
    </div>
  </app-site-category>
</div>
<div class="fixed mx-auto w-full my-4 bottom-0 flex items-center justify-center">
  <app-alert></app-alert>
</div>
